@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/*
  blue #24c
  purple #93c
  red #b24
  green #284
  pink #b59
  orange #c61
  golden #b83
  black #223;
*/

:root {
  --primary: #639;
  --secondary: #6c757d;
  --dark: #343a40;
  --light: #f8f9fa;
  --link: #17a2b8;

  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
}

body {
  margin: 0;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: filter 0.3s ease;
}

a:hover {
  filter: brightness(1.2);
}

#credits {
  width: 100%;
  text-align: center;
  color: var(--light);
  background-color: var(--dark);
  padding: 1em 0;
}

#credits p {
  margin: 0;
}

.card {
  padding: 1em;
  border: 1px solid red;
  border-radius: 2em;
}
