@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.card {
  padding: 1em;
  border: 1px solid red;
  border-radius: 2em;
}
